{% extends "layout.html" %}

{% block title %} {var.name} Profile {% endblock %}
{% block head %}  {var.name} Profile {% endblock %}

{% block body %}

<div id="cv"></div>

<h2> Personal Details</h2>
<h3> {{ person["name"] }} </h3>
<p> {{ person["email"]}} </p>
<p> {{ person["phone"] }} </p>

<script type="text/babel">

class inner extends React.Component{
	render(){
		return(

			<div>
				<label for=""> Title </label>
				<input type="text" name="" id="" value={this.props.title} />
				<label for=""> Role </label>
				<input type="text" name="" id="" value={this.props.role} />
				<label for=""> Date </label>
				<input type="text" name="" id="" value={this.props.date} />
				<label for=""> Description </label>
				<input type="text" name="" id="" value={this.props.content} />
			</div>
		)}}

class container extends React.Component{
	render(){
		return(
			<h2> {this.props.head } </h2>

			{info}.forEach(fuction (x){
				if ( {x["position"]}  == 'edu' && {this:props.head} == "Education"){ 
					<inner title= { x["title"] } role= { x.role } date= {x.date} content= {x.content} />
				}
			
			})
		)}}

class App extends React.Component{
	render(){
		return(
			<container head="Education" />
			<container head="Experience" />
			<container head="Projects" />
			<container head="Awards" />
		)}};
  
ReactDOM.render( <App/>, document.querySelector("#cv"));

</script>

{% endblock %}
